*{
    padding: 0;
    margin: 0;
}


nav{
    background-color:black;
    color:white;
    padding: 15px;

}
li,h1,ul{
    display:inline;
}
ul{
    margin-left:60%;
}
li{
    color:grey;
    cursor:pointer;
}
li:hover{
    color:white;
}
input{
    width:60%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align:center;
}
.box{
    boder-color:black;
    border-width:5px;
    border-style:solid;
    display:inline-block;
    width:220px;
}
.products{
    text-align:center;
}
.box:hover{
    background-color:black;
    color:white;
}
.about{
    text-align: center;
    margin-top:20px;
    padding:20px;
}
.contact{
    background-color:black;
    color:white;
    text-align:center;
    padding:40px;
}